<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <title>List posts from tinhte.vn</title>
</head>
<body>
<div class=" w3-container w3-black">
    <ul class="w3-navbar w3-blue">
      <li><a href="#">Home</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
</div>
    {% for article in list_of_article %}
        <h1>Title: {{ article.title }}</h1>
        <h2>Author: {{ article.author }}</h2>
        <h3>Image: <br> <img src="{{ article.image}}"></h3>
        <p>Content: <br> {{ article.content }}</p>
    {% endfor %}

<div class="w3-container w3-red">
    <h1> Footer </h1>
</div>
</body>
</html>